.persona__imagen {
    width: 18.75rem;
    height: 18.75rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 50%;
}

.persona__imagen--roberta {
    background-image: url('/assets/img/personas/roberta.jpg');
}

.persona__imagen--marcela {
    background-image: url('/assets/img/personas/marcela.jpg');
}

.persona__imagen--andrea {
    background-image: url('/assets/img/personas/andrea.jpg');
}